@import "./styles/cssReset.css";

.app {
	width: 100vw;
	min-height: 100vh;
}

.content {
	min-height: calc(100vh - 142px);
	min-width: 100%;
}

@media(max-width:470px) {
	.blog-title {
		display: none;
	}
}
